<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hustaty.homeautomation"
    android:versionCode="12"
    android:versionName="1.0.11" >

    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--Test for BTLE proximity-->
    <!--<uses-permission android:name="android.permission.BLUETOOTH"/>-->
    <!--<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>-->
    <!--<uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>-->

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="com.hustaty.homeautomation.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.hustaty.homeautomation.permission.C2D_MESSAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/home"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hustaty.homeautomation.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="com.hustaty.homeautomation.UI_LOCATION_UPDATE_INTENT" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.hustaty.homeautomation.SettingsActivity"
                android:label="@string/app_name" >
            <intent-filter>
                <category android:name="android.intent.category.PREFERENCE"/>
                <action android:name="com.hustaty.homeautomation.SettingsActivity" />
            </intent-filter>
        </activity>

        <receiver
                android:name="com.hustaty.homeautomation.receiver.AlarmManagerBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.hustaty.homeautomation.LOCATION_UPDATE_INTENT" />
            </intent-filter>
        </receiver>

        <!--Status Widget-->
        <receiver
                android:name="com.hustaty.homeautomation.receiver.MyAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.hustaty.homeautomation.UI_LOCATION_UPDATE_INTENT" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget" />
        </receiver>

        <!--Hotwater widget-->
        <receiver
                android:name="com.hustaty.homeautomation.receiver.HotWaterWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.hustaty.homeautomation.UI_LOCATION_UPDATE_INTENT" />
                <action android:name="com.hustaty.homeautomation.HOTWATER_WIDGET_CLICK" />
                <action android:name="com.hustaty.homeautomation.HOTWATER_STATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/xml_waterwidget" />
        </receiver>

        <!-- OFF for a while -->
        <receiver
                android:name="com.hustaty.homeautomation.receiver.GcmBroadcastReceiver"
                android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!--<action android:name="com.google.android.c2dm.intent.REGISTRATION" />-->
                <category android:name="com.hustaty.homeautomation" />
            </intent-filter>
        </receiver>
        <service android:name="com.hustaty.homeautomation.GCMIntentService"/>

        <meta-data android:name="com.google.android.gms.version" android:value="5077000" />

    </application>

</manifest>